<div class="container signin_view">

    <div class="col-sm-6">
        <div class="logo"></div>
    </div>

    <div class="col-sm-5">
        <div class="sign_in">
            <form class="form-inline" {{action "authenticate" on='submit'}}>
                <h2>Sign in</h2>
                <fieldset>
                    <div class="form-group">
                        {{view Ember.TextField
                        value=identification  placeholder="Email" class="form-control input username" autocomplete="off"}}

                        {{input
                        value=password type="password" placeholder="Password" class="form-control input password" autocomplete="off" }}

                        <div class="form-links">
                            {{input class="btn btn-primary btn-lg" type="submit" value="Sign in"}}
                            {{link-to 'Forgot password?' 'forgot-password' class='text-info'}}
                        </div>
                    </div>
                </fieldset>
            </form>
            {{#if successMessage}}
                <div class="text-success success-message">{{successMessage}}</div>
            {{/if}}
            {{#if errorMessage}}
                <div class="text-danger error-message">{{errorMessage}}</div>
            {{/if}}
        </div>
    </div>
</div>
